/*---------------------------------------
   Pricing Area
-----------------------------------------*/
.aefe-pt-single-pricing-table {
  width: 100%;
  margin-bottom:25px; box-shadow: 0px 6px 13px -10px #9c9c9c;
   transition: 1s;
   border-radius: 5px;
}


.aefe-pt-single-pricing-table-header {background-image: url(../img/pricing-header-bg.png);min-height: 175px;background-repeat: no-repeat;border-radius: 5px 5px 0 0;background-size: 100% 95%;}
.aefe-pt-single-pricing-table-header h2 {color: #fff;text-align: center;padding-top: 35px;font-size: 18px;font-family: poppins;text-transform: uppercase;margin-bottom: 16px; font-weight: 500;margin-top: 0;}
.aefe-pt-single-pricing-table-header h3 {font-family: poppins;font-weight: 400;color: #fff;font-size: 16px;text-align: center;} 
.aefe-pt-single-pricing-price {padding-left: 15px;padding-right: 10px;}
.aefe-pt-single-pricing-price h2{font-family: poppins;font-size:30px;color:#4b278f;font-weight:500;text-align: center;border-bottom:1px solid #eeeeee;padding-bottom:15px}
.aefe-pt-single-pricing-price h2 sup{font-weight: 400;font-size: 16px;}
.aefe-pt-single-pricing-price h2 span{font-weight: 400f;font-size:16px}
.aefe-pt-single-pricing-content {text-align: center;padding-left: 15px;padding-right: 15px;margin-top: 40px;}
.aefe-pt-single-pricing-content p {color: #666666;font-size: 16px;font-family: roboto;font-weight: 500;margin-bottom: 30px;}
.aefe-pt-single-pricing-buy {text-align: center;
   margin-bottom: 20px;
   margin-top: 45px;
   padding-bottom: 25px}
.aefe-pt-single-pricing-buy a{background-color: #666;color: #fff !important;display: inline-block;padding: 15px 50px;border-radius: 100px;margin-top: 10px;margin-bottom: 10px;transition: 1s;}
.aefe-pt-single-pricing-table:hover .aefe-pt-single-pricing-buy a{transition:1s;background-color:#41207b;box-shadow: 0px 6px 20px -12px #41207b;color:#fff;}
.aefe-pt-single-pricing-table:hover {box-shadow: 0px 7px 25px -13px #666;} 

/*------------- Pricing Table Style 2 --------------*/

.aefe-pt-style-two.aefe-pt-single-pricing-table {
   width: 100%;   
   margin-bottom:40px; 
  box-shadow: 0px 2px 9px -6px #666;
   transition: 1s;
   border-radius: 5px;
}

 
.aefe-pt-style-two .aefe-pt-single-pricing-table-header {background-image: url(../img/pricing-header-style-two-bg.png);min-height: 175px;background-repeat: no-repeat;border-radius: 5px 5px 0 0;}
 .aefe-pt-style-two .aefe-pt-single-pricing-table-header h2 {color: #fff;text-align: center;padding-top: 35px;font-size: 18px;font-family: poppins;text-transform: uppercase;margin-bottom: 16px; font-weight: 500;}
 .aefe-pt-style-two .aefe-pt-single-pricing-table-header h3 {font-family: poppins;font-weight: 400;color: #fff;font-size: 16px;text-align: center;} 
 .aefe-pt-style-two .aefe-pt-single-pricing-price {padding-left: 15px;padding-right: 10px;}
 .aefe-pt-style-two .aefe-pt-single-pricing-price h2{font-family: poppins;font-size:30px;color:#03bee4;font-weight:500;text-align: center;border-bottom:1px solid #eeeeee;padding-bottom:15px}
 .aefe-pt-style-two .aefe-pt-single-pricing-price h2 sup{font-weight: 400;font-size: 16px;}
 .aefe-pt-style-two .aefe-pt-single-pricing-price h2 span{font-weight: 400f;font-size:16px}
 .aefe-pt-style-two .aefe-pt-single-pricing-content {text-align: center;padding-left: 15px;padding-right: 15px;margin-top: 40px;}
 .aefe-pt-style-two .aefe-pt-single-pricing-content p {color: #666666;font-size: 16px;font-family: roboto;font-weight: 500;margin-bottom: 30px;}
 .aefe-pt-style-two .aefe-pt-single-pricing-buy {text-align: center;margin-bottom: 40px;margin-top: 45px;}
 .aefe-pt-style-two .aefe-pt-single-pricing-buy a{/*background-color: #cccccc;*/color: #fff;display: inline-block;padding: 15px 50px;border-radius: 100px;margin-top: 10px;margin-bottom: 10px;transition: 1s;}
.aefe-pt-style-two.aefe-pt-single-pricing-table:hover .aefe-pt-st-two-b.aefe-pt-single-pricing-buy a{transition:1s;box-shadow: 0px 6px 16px -8px #03bee4;background-color:#03bee4 !important; color:#fff;}
.aefe-pt-style-two .aefe-pt-single-pricing-table:hover {box-shadow: 0px 14px 40px -25px #666;}



/*---------------------------------------
    Our Talent Area
-----------------------------------------*/

.aefe-tm-our-talent-team {
  position: relative;
}


.aefe-tm-single-team-member { 

   box-shadow: 0px 2px 8px -5px #666;

  margin: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;transition: 1s;
}
.aefe-tm-single-team-member-picture {    text-align: center;}
.aefe-tm-single-team-member-picture a img{border-radius: 500px;}

.aefe-tm-single-team-member-name {text-align: center;margin-top: 39px;}
.aefe-tm-single-team-member-name h2{margin-bottom: 13px;}
.aefe-tm-single-team-member-name h2 a{font-family: poppins;font-weight: 500;font-size: 18px;color:#444444;text-transform: uppercase;}

.aefe-tm-single-team-member-name h3{font-family: poppins;font-weight: 300;font-size: 14px;color:#444444;margin-bottom: 0;}

.aefe-tm-single-team-member-social {margin-top:30px;text-align: center;}
.aefe-tm-single-team-member-social a {margin-right: 20px;}
.aefe-tm-single-team-member-social a:last-child{margin-right:0;}
.aefe-tm-single-team-member-social a i, .single-team-member-social a i svg {color: #cccccc;
font-size: 18px;
height: 40px;
width: 40px;
border: 1px solid #cccccc;
border-radius: 500px;
padding-top: 10px;}

.aefe-tm-single-team-member:hover {box-shadow: 0px 7px 26px -16px #666;}
.aefe-tm-single-team-member:hover .aefe-tm-single-team-member-name h2 a{color:#4b278f;transition:1s;}
.aefe-tm-single-team-member:hover .aefe-tm-single-team-member-name h3{color:#4b278f;transition:1s;}
.aefe-tm-single-team-member:hover .aefe-tm-single-team-member-social a i,.aefe-tm-single-team-member:hover  .aefe-tm-single-team-member-social a i svg {color: #4b278f;border: 1px solid #4b278f;transition:1s;}

.aefe-tm-our-talent-slider-content .owl-nav{position: absolute;top: 200px;left: -15%;margin: 0 auto;right: -15%;}
.aefe-tm-our-talent-slider-content .owl-nav .owl-prev{float: left;}
.aefe-tm-our-talent-slider-content .owl-nav .owl-prev i{font-size: 30px;
color: #cccccc;}
.aefe-tm-our-talent-slider-content .owl-nav .owl-next{float: right;}
.aefe-tm-our-talent-slider-content .owl-nav .owl-next i{font-size: 30px;
color: #cccccc;}
.aefe-tm-our-talent-slider-content .owl-nav .owl-prev i:hover{color:#4b278f;}
.aefe-tm-our-talent-slider-content .owl-nav .owl-next i:hover{color:#4b278f;}



/*---------------------------------------
    Our Skill Style one
-----------------------------------------*/

.aefe_single_skills{
   border: 1px solid transparent;
   padding: 28px 20px 27px 18px;
   margin-top: 12px;
   margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
   }
.aefe_single_skills:hover{
          border: 1px solid #c8c8c8;
      }
.aefe_single_skills:hover .aefe_skill_icon{
      background: black;
   }
.aefe_skill_icon {
            background: #f7a914;           
            float: left;
            padding: 5px 6px;
          transition-duration:0.5s;
          padding-bottom: 1px;
   }
.aefe_single_skills .aefe_skill_icon img {
      border: 1px dashed #fff;
      padding: 15px;
   max-width: 90px;
   max-height: 90px;
   }
          
.aefe_single_skills .aefe_skill_title {
      padding-left: 108px;
   }
.aefe_single_skills .aefe_skill_title h3 {
     font-size: 20px;
     margin-bottom: 5px;
     padding-top: 10px;
    font-weight: 400;
   text-transform: capitalize;
   }
   
   
.aefe_single_skills .aefe_skill_rate {
     font-size: 16px;
    color: #f7a914;
   }
   
.aefe_single_skills .aefe_skill_barfiller {
     background: #d3d3d3 none repeat scroll 0 0;
     border: medium none;
     border-radius: 10px;
     box-shadow: none;
     height: 6px;
     margin-bottom: 20px;
     position: relative;
     width: 100%;
     margin-top: -3px;
   }
.aefe_skill_barfiller .aefe_skill_fill {
          border-radius: 6px;
      }

.aefe_skill_barfiller .aefe_skill_tip {
      background: transparent none repeat scroll 0 0;
      font-size: 15px;
      margin-top: -38px;
      margin-left: 90% !important;
      transition: left 3s ease-in-out 0s;
   }
.aefe_skill_text {
          padding-top: 20px;
      }
.aefe_skill_fill.aefe-skills-skill{background: rgb(245, 171, 53) none repeat scroll 0% 0%;
   width: 0;
   transition: width 3s ease-in-out 0s;}



/*---------------------------------------
    Our Skill Style Two
-----------------------------------------*/

.aefe-skill-bar-style-two {
	margin-top: 50px;
}
.aefe-skill-bar-style-two h4 {
	margin-bottom: 30px;
}
.aefe_single_skill_st_bar_item {
	margin: 20px 0;
}

.aefe_st_skill p {
	margin-bottom: 10px;
}
.aefe_sk_st_progressbar {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
}
.aefe_skst_bar {
	position:absolute;
	width: 0px;
	height: 100%;
	top: 0;
	left: 0;
	background: #494949;
	overflow:hidden;
}
.aefe_skill_bar_st_label {
	position: absolute;
	top: -40px;
	left: 0;
	width: 30px;
	height: 30px;
	display: block;
	background-color: green;
	line-height: 34px;
	text-align: center;
   font-size: 14px;
	color: #ffffff;
	-webkit-transform: translateX(-15px);
	    -ms-transform: translateX(-15px);
	        transform: translateX(-15px);
}
.aefe_skill_bar_st_label:before {
	position: absolute;
	content: '';
	bottom: -10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-top: 6px solid green;
	border-bottom: 5px solid transparent;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}



/*---------------------------------------
    Some Review Area
-----------------------------------------*/
.aefe-some-review-heading{margin-top: 50px;}
.aefe-some-review-title{width: 70%;margin: 0 auto;text-align: center;margin-bottom: 50px;}
.aefe-some-review-title h2{color: #222222;font-family: roboto;font-size: 24px;font-weight: 500;margin-bottom: 30px;text-transform: uppercase;margin-top: 0;}
.aefe-some-review-title p{color: #777777;font-size: 16px;font-weight: 400;font-family: roboto;margin-bottom: 5px;}
.aefe-single-some-review{box-shadow: 0px 11px 39px -20px #a49b9b;margin-top: 70px;margin-left: 5px;background-color: #fff;position: relative;margin-bottom: 40px;}
.aefe-single-some-review-img{margin-bottom: 30px;background-image: url(../img/review-clients-img-bg.png);background-repeat: no-repeat;background-position: center;min-width: 120px;min-height: 116px;padding-top: 6px;padding-left: 3px;position: absolute;top: -65px;left: 0;right: 0;}
.aefe-single-some-review-img img{width: 100px !important;height: 100px;margin: 0 auto;padding-top: 5px;border-radius: 500px;}
.aefe-single-some-review-title{text-align: center;padding-top: 80px;}
.aefe-single-some-review-title .aefe-tms-testimonial-rating {
   padding-bottom: 0px;
   margin-top: 10px;
}
.aefe-single-some-review-title h2 {margin-bottom: 14px;}
.aefe-single-some-review-title h2 a{color: #222222;font-size: 16px;font-family: roboto;font-weight: 500;text-transform: uppercase;}
.aefe-single-some-review-title h4{color: #666666;font-size: 14px;font-family: roboto;font-weight: 400;margin-bottom: 5px;}
.aefe-single-some-review-content{margin: 40px;}
.aefe-single-some-review-content p{color: #777777;font-size: 16px;font-family: roboto;font-weight: 400;line-height: 30px;text-align: center;}
.aefe-single-some-review-social{text-align: center;padding-bottom: 50px;}
.aefe-single-some-review-social a{border-right: 1px solid #ccc;}
.aefe-single-some-review-social a i{color: #666666;font-size: 14px;padding-left: 16px;padding-right: 16px;}
.aefe-single-some-review-social a:last-child{border-right:0}
.aefe-single-some-review:hover {background-color:#03bee4;transition:0.5s;box-shadow: 0px 11px 39px -20px #03bee4; }
.aefe-single-some-review:hover .aefe-single-some-review-title h2 a,.aefe-single-some-review:hover .aefe-single-some-review-title h4,.aefe-single-some-review:hover .aefe-single-some-review-content p,.aefe-single-some-review:hover .aefe-single-some-review-social a i {color:#fff;}
.aefe-single-some-review:hover .aefe-single-some-review-social a{border-right-color: #fff;}


/*---------------------------------------
    Testimonial Area
-----------------------------------------*/


.aefe-tms-testimonial-bottom {
   max-width: 1000px;
   margin: 0 auto;
}

.aefe-tms-single-testimonial {
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px -1px 10px -3px #666;
  margin-top: 55px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 6px;
  position: relative;
  z-index: 999;
}
.aefe-tms-single-testimonial:before{content:'';display: block;width:100px;height: 340px;box-shadow: -4px 1px 13px -10px #666;position: absolute;top:42px;left:-93px;z-index: -999;}
.aefe-tms-single-testimonial:after{content:'';display: block;width:100px;height: 340px;box-shadow: 4px 1px 13px -10px #666;position: absolute;top:42px;right:-93px;z-index: -999;}
.aefe-tms-testimonial-quote{text-align: left;position: absolute;top: -50px;left: 0;right: 0;}
.aefe-tms-testimonial-quote i{font-size: 58px;color: #4b278f;}
.aefe-tms-clients-image {margin: 0 auto;position: absolute;top: -48px;left: 0;right: 0;}
.aefe-tms-clients-image img{width: 100px !important;height: 100px;margin: 0 auto;border-radius: 500px;}

.aefe-tms-testimonial-client-name {padding-top: 90px;}
.aefe-tms-testimonial-client-name h2{color: #444444;font-size: 18px;text-transform: uppercase;font-weight: 600;font-family: poppins;margin-bottom: 15px;}
.aefe-tms-testimonial-client-name h3{font-size: 18px;font-family: poppins;font-weight: 500;color: #cccccc;text-transform: uppercase;margin-bottom: 45px;}

.aefe-tms-testimonial-message {width: 71%;margin: 0 auto;}
.aefe-tms-testimonial-message p{font-family: roboto;font-weight: 400;color: #737373;font-size: 16px;line-height: 30px;}

.aefe-tms-testimonial-rating {padding-bottom: 60px;margin-top: 40px;}
.aefe-tms-testimonial-rating i{color: #feb518;margin-right: 9px;}
.aefe-tms-testimonial-content-area .owl-dots{text-align: center;}
.aefe-tms-testimonial-content-area .owl-dot{height: 10px;
width: 10px;
background-color: #cccccc;
display: inline-block;
border-radius: 100px;
margin-right: 6px;}
.aefe-tms-testimonial-content-area .owl-dot.active{background-color:#4b278f;}



.aefe-tms-testimonial-content-area .owl-nav{position: absolute;top: 245px;left: -15%;margin: 0 auto;right: -15%;}
.aefe-tms-testimonial-content-area .owl-nav .owl-prev{float: left;}
.aefe-tms-testimonial-content-area .owl-nav .owl-prev i{font-size: 30px;
color: #cccccc;}
.aefe-tms-testimonial-content-area .owl-nav .owl-next{float: right;}
.aefe-tms-testimonial-content-area  .owl-nav .owl-next i{font-size: 30px;
color: #cccccc;}
.aefe-tms-testimonial-content-area  .owl-nav .owl-prev i:hover{color:#4b278f;}
.aefe-tms-testimonial-content-area  .owl-nav .owl-next i:hover{color:#4b278f;}



/*=======================================
    Team Area  Style Three     
=========================================*/
.aefe-tm-sth-single-team-member {border: 1px solid #f6f6f6;
position: relative;
overflow: hidden;
}
.aefe-tm-sth-team-member-header { width:100%;height:157px;
	background: #7f8ce3; /* Old browsers */
background: -moz-linear-gradient(left, #7f8ce3 0%, #55bde3 41%, #32dee1 81%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7f8ce3 0%,#55bde3 41%,#32dee1 81%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7f8ce3 0%,#55bde3 41%,#32dee1 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f8ce3', endColorstr='#32dee1',GradientType=1 ); /* IE6-9 */
}

.aefe-tm-sth-team-member-picture img{width: 167px !important;
height: 167px;
margin: 0 auto;
position: absolute;
top: 66px;
left: 0;
right: 0;
border: 1px solid #cfcfcf;
border-radius: 500px;}

.aefe-tm-sth-team-member-name {margin-top: 110px;
text-align: center;}
.aefe-tm-sth-team-member-name h2{color: #333333;
font-weight: 700;
font-family: Montserrat;
font-size: 16px;
margin-bottom: 16px;}
.aefe-tm-sth-team-member-name h3{color: #666666;
font-size: 16px;
font-family: Montserrat;
font-weight: 300;}
.aefe-tm-sth-team-about p {margin-left: 35px;
margin-right: 35px;
text-align: center;
color: #444444;
font-family: roboto;
font-weight: 400;}

.aefe-tm-sth-team-socials-profile {text-align: center;
margin-top: 29px;
margin-bottom: 29px;visibility: hidden;transition:1s ease-out;}

.aefe-tm-sth-single-team-member:hover .aefe-tm-sth-team-socials-profile {visibility: visible;transition:1s;}
.aefe-tm-sth-single-team-member:hover {box-shadow: -1px 0px 17px -1px #f5eeee;
margin-bottom: 10px;transition:1s;}
.aefe-tm-sth-single-team-member:after {
   height:3px;
   content:'';display:block;width: 100%;
margin-top: 0px;
}
.aefe-tm-sth-single-team-member:hover:after{
background: #7d8fe3; /* Old browsers */
background: -moz-linear-gradient(left, #7d8fe3 1%, #34dce1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7d8fe3 1%,#34dce1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7d8fe3 1%,#34dce1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d8fe3', endColorstr='#34dce1',GradientType=1 ); /* IE6-9 */}

.aefe-tm-sth-team-socials-profile a i{font-size: 16px;
color: #fff;
padding: 5px 7px;
background: #cccccc;margin-right:12px;transition:0.5s ease-out;}
.aefe-tm-sth-team-socials-profile a i:hover{background:#7f8ce3;transition:0.5s;}



/*=======================================
    Testimonial Style Three          
=========================================*/
.aefe-tm-3-testimonial-area{background: #7f8ce3; /* Old browsers */
   background: -moz-linear-gradient(left, #7f8ce3 0%, #55bde3 41%, #32dee1 81%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #7f8ce3 0%,#55bde3 41%,#32dee1 81%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #7f8ce3 0%,#55bde3 41%,#32dee1 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f8ce3', endColorstr='#32dee1',GradientType=1 ); /* IE6-9 */
 padding-top:70px;padding-bottom: 70px;}

   
   .aefe-tm-3-single-testimonial {text-align: center;
   width: 80%;
   margin: 0 auto;
   }
   .aefe-tm-3-testimonial {
      max-width: 1000px;
      margin:0 auto;
    }
   .aefe-tm-3-testimonial-img {position: absolute;
   bottom: -100%;
   left: 21%;visibility: hidden;transition: 1s ease-out;max-width: 120px;}
  .aefe-tm-3-testimonial-client-info:hover .aefe-tm-3-testimonial-img {visibility:visible;transition:1s;bottom: 11px;}
  .aefe-tm-3-testimonial-icon i{font-size:44px;color:#fff;}
   .aefe-tm-3-testimonial-message {margin-top: 18px;}
   .aefe-tm-3-testimonial-message p{font-size: 16px;
   font-family: roboto;
   font-weight: 400;
   color: #fff;
   line-height: 30px;}
   .aefe-tm-3-testimonial-client-info {position: relative;}
   .aefe-tm-3-testi_client_name {margin-top: 30px;
   border-top: 1px solid #fff;
   display: inline-block;
   padding-top: 30px;color:#fff;font-family: roboto;}
   .aefe-tm-3-testi_client_name h2{font-size: 18px;
   font-weight: 700;margin-bottom:18px;}
   .aefe-tm-3-testi_client_name h3{font-size: 16px;
   font-weight: 400;}  
   .aefe-tm-3-testimonial-slider .owl-dots .owl-dot {width:30px;height:2px;display:inline-block;background:#fff;margin-right:6px;}
   
   .aefe-tm-3-testimonial-slider .owl-dots .owl-dot.active,.aefe-tm-3-testimonial-slider .owl-dots .owl-dot:hover{background: #7f8ce3; /* Old browsers */
   background: -moz-linear-gradient(left, #7f8ce3 0%, #55bde3 41%, #32dee1 81%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #7f8ce3 0%,#55bde3 41%,#32dee1 81%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #7f8ce3 0%,#55bde3 41%,#32dee1 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f8ce3', endColorstr='#32dee1',GradientType=1 ); /* IE6-9 */}



/*=======================================
    Icon Box Style One       
=========================================*/

   .aefe-icon-box-de-itm .aefe-icon-box-design-item {
      position: relative;
      z-index: 9;
   }
   .aefe-icon-box-de-itm .aefe-icon-box-design-item:after {
      position: absolute;
      content:'01';
      bottom: -30px;
      right: -5px;    
      color: #ffffff;
      font-size: 110px;
      font-family: var(--heading-font-bold);
      z-index: -10;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+1) .aefe-icon-box-design-item:after {
      color: #ff7737;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+2) .aefe-icon-box-design-item:after {
      color: #53c7f4;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+3) .aefe-icon-box-design-item:after {
      color: #7950ff;
   }
   
   .aefe-icon-box-de-itm:nth-of-type(2n+1) .aefe-icon-box-design-item {
      background-color: #f26522;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+2) .aefe-icon-box-design-item {
      background-color: #48bfee;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+3) .aefe-icon-box-design-item {
      background-color: #6e41ff;
   }
   .aefe-icon-box-design-item {
      text-align: center;
      padding: 0 30px 50px 30px;
      border-radius: 3px;
   }
   .aefe-icon-box-design-item .aefe-icon-box-design-icon {
      position: relative;
      width: 92px;
      height: 100px;
      background-color: var(--primary-color);
      display: inline-block;
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      line-height: 115px;
      margin-bottom: 15px;
      -webkit-transform: translateY(-25px);
          -ms-transform: translateY(-25px);
              transform: translateY(-25px);
      z-index: 9;
   }
   .aefe-icon-box-design-item .aefe-icon-box-design-icon:before {
      position: absolute;
      content: '';
      width: 90px;
      height: 98px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #ffffff;
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: -10;
   }
   .aefe-icon-box-design-item .aefe-icon-box-design-icon i {
      font-size: 36px;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+1) .aefe-icon-box-design-item .aefe-icon-box-design-icon {
      background-color: #f26522;
      color: #f26522;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+2) .aefe-icon-box-design-item .aefe-icon-box-design-icon {
      background-color: #48bfee;
      color: #48bfee;
   }
   .aefe-icon-box-de-itm:nth-of-type(2n+3) .aefe-icon-box-design-item .aefe-icon-box-design-icon {
      background-color: #6e41ff;
      color: #6e41ff;
   }
   .aefe-icon-box-design-item h4 {
      margin-bottom: 25px;
   }
   .aefe-icon-box-design-item h4,
   .aefe-icon-box-design-item p {
      color: #ffffff;
   }





/*=======================================
    FAQ Style One       
=========================================*/
  
.aefe-faq-1-accordion_area{/*! border-left: 3px solid #ed174b; */
   padding-left: 64px;
   position: relative;
   }
   
   .aefe-faq-1-single_accordion{border-radius: 3px;
   box-shadow: 0px 2.5px 1px 0 #f4f4f4;
   margin-bottom: 15px;
   position: relative;
   }
   .aefe-faq-1-single_accordion:last-child{margin-bottom:5px}
   .aefe-faq-1-accordion_hearder{-moz-user-select: none;
   background-color: #fff;
   padding: 10px 15px;cursor: pointer;
   text-transform: uppercase;
   user-select:none;-webkit-user-select:none;-o-user-select:none;overflow: hidden;}
   .aefe-faq-1-accordion_hearder h2{color: #444444;
   float: left;
   margin: 0;
   font-size: 16px;
   font-family: lato;
   font-weight: 400;}
   .aefe-faq-1-accordion_hearder h2 span {font-weight:700;}
   .aefe-faq-1-accordion_content{padding: 15px;display:none;background: #fff;color:#666666;}
   
   .aefe-faq-1-accordion_content p{margin: 0 0 15px;
   padding: 0;text-align: justify;}

   .aefe-faq-1-accordion_content p:last-child{margin-bottom:0px}
   span.aefe-faq-1-accordion_icon{color: #666;   
   float: right;
   font-size: 25px;
   line-height: 25px;
   position: relative;}
   span.aefe-faq-1-accordion_icon i{display: block;
   font-size: 14px;
   color: #666666;
   border: 1px solid #cccccc;
   padding: 5px 6px;}
  
   span.aefe-faq-1-accordion_icon .aefe-acc1-open i{left: 0;
   opacity: 0;
   position: absolute;
   top: 0;}
   .aefe-faq-1-accordion_hearder.aefe-faq-1-accordion_active{background-color: #fff;}
   .aefe-faq-1-accordion_hearder.aefe-faq-1-accordion_active h2{color:#444444}
  .aefe-faq-1-accordion_hearder.aefe-faq-1-accordion_active span.aefe-faq-1-accordion_icon .aefe-acc1-close i{opacity: 0;}
   .aefe-faq-1-accordion_hearder.aefe-faq-1-accordion_active span.aefe-faq-1-accordion_icon .aefe-acc1-open i{opacity: 1;color:#fff;background-color: #e5212a;
   border-color: #e5212a;}
   .aefe-faq-1-active_single_accordion{border-left: 3px solid #ed174b;}
   .aefe-faq-1-single_accordion.aefe-faq-1-active_single_accordion:before{border-color:#c8c8c8 !important;left: -67px;}
   .aefe-faq-1-single_accordion:before{width:3px;height:100%;border-left: 3px solid #ed174b;content:'';position: absolute;top: 0;left: -64px;height: calc(100% + 15px);}